.ProgressBar{
  background: #ddd;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.Progress{
    background-color:deepskyblue ;
    /* A ideia é esse progresso ser calculado em porcentagem e preencher a barra de progresso com uma cor diferente*/
}